.input {
  font-family: $font-body;
  border: 0;
  background: none;
  outline: none;
  margin-top:5px;
  width: 170px;
  font-size: 22px;
}

.input:focus {
  border: dashed 1px $primary-color;
}

textarea {
  resize: none;
  height: 130px;
}

.deleteButton {
  visibility: hidden;
  float: right;
  cursor: pointer;
  margin: -5px;
  color: $alert-color;
}

.tile:hover .deleteButton {
  visibility: visible;
}
