$primary-color: #0097a7;
$primary-light: #61c8d3;
$secondary-color: #563d7c;
$secondary-light: #855cc4;
$tile-color: lightyellow;
$lightbulb-color: #f4d950;
$shadow-color: #bbbaba;
$alert-color: #d80447;

$font-stack: Fredericka the Great, cursive;
$font-body: Caveat Brush, cursive;

